<div class="row">
	<div class="col-sm-12" style="background: #333">
		<div class="col-sm-3 feed_wrapper">
			<intelli-rss-feed feed-url="{{url1}}" widget-height="500" feed-title="{{title1}}" config="sampleConfiguration1"></intelli-rss-feed>
		</div>
		<div class="col-sm-3 feed_wrapper">
			<intelli-rss-feed feed-url="{{url2}}" widget-height="500" feed-title="{{title2}}"></intelli-rss-feed>
		</div>
		<div class="col-sm-3 feed_wrapper">
			<intelli-rss-feed feed-url="{{url3}}" widget-height="500" feed-title="{{title3}}" config="sampleConfiguration3"></intelli-rss-feed>
		</div>
		<div class="col-sm-3 feed_wrapper">
			<intelli-rss-feed feed-url="{{url4}}" feed-title="{{title4}}" config="sampleConfiguration4"></intelli-rss-feed>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12" style="background: #333">
		<pre style="color: #fff;background: #333;border: none">
			<h2>How to use it</h2>
			1. include jquery.js
			2. include angular.js
			3. include IS_rssFeed.js from the downloaded folder
			4. include IS_rssFeed.css from the downloaded folder
			5. add 'rssFeed' as a dependency in your angular module
			6. add this directive in your view
			7. &lt;intelli-rss-feed feed-url="{{url4}}" feed-title="{{title4}}" config="sampleConfiguration4"&gt;&lt;/intelli-rss-feed&gt;
			8. sample configuration in your controller if you want to change the colour - optional
			9. $scope.sampleConfiguration4 = {};
			10.$scope.sampleConfiguration4.styles = {};
			11.$scope.sampleConfiguration4.styles.titleBackgroundColor = '#f46e27';
			12.$scope.sampleConfiguration4.styles.titleColor = '#fff';
			13. if feed-url is a scope variable then in mark-up feed-url=&#123; &#123;scopevariablename&#125; &#125;
			14.id feed-url is a hardcoded value then in markup feed-url={{url4}}
		</pre>
	</div>
</div>

