.newsTickerWrapper {
    width: 100%;
    background: #FFF;
    position: relative;
    border: 3px solid #FFFFFF;
    font-family: 'PT Sans';
    height: 100%;
    overflow: auto;
}
.newsTickerWrapper .tickerTitle {
    height: 40px;
    width: 100%;
    overflow: hidden;
}
.newsTickerWrapper .tickerTitle .title{
    padding-top: 8px;
    padding-left: 10px;
    font-size: 18px;
}
.newsTickerWrapper .tickerContent {
    overflow: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.newsTickerWrapper .tickerContent .rssFeed{
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    font-size: 13px;
    background: #f2f2f2;
    margin: 2px;
}
.newsTickerWrapper .tickerContent a.readmore{
    margin-left: 10px;
    text-decoration: none;
    padding: 2px;
    font-size: 10px;
    color: #fff;
    border-radius: 4px;
    float: right;
}

.newsTickerWrapper .tickerContent .loading_feed{
    position: absolute;
    width: 100%;
    height: inherit;
    background: #333;
    opacity: 0.7;
    left: 0px;
    top: 41px;
    z-index: 999;
    display: none;
}
.newsTickerWrapper .tickerContent .loading_feed .loading_text{
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
}